@model IEnumerable<Library.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

<div class="d-flex justify-content-between">
    <form asp-controller="Authors" asp-action="Index" method="post">
        <p>
            <div class="d-flex">
                <div class="form-outline search-input border border-dark m-lg-2">
                    <input type="text" class="form-control input" placeholder="Search book"
                           name="SearchString" value="@ViewData["CurrentSearch"]" />
                </div>
                <button type="submit" value="Search" class="btn btn-outline-dark ml-2 mr-2 mt-2">
                    Search<i class="fa fa-search"></i>
                </button>
            </div>
        </p>
    </form>

    <div class="align-self-end mb-3">
        <a class="btn btn-success " asp-action="Create">
            Create Author
        </a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                <a class="text-white" asp-route-sortorder="@ViewData["IdSort"]">
                    @Html.DisplayName("#") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["NameSort"]">
                    @Html.DisplayName("Author Name") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["DateofBirthSort"]">
                    @Html.DisplayName("Date of birth") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["EmailSort"]">
                    @Html.DisplayName("Email") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary">
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Id)
                    </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
        </tr>
}
    </tbody>
</table>
